################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/InstagramTool/.vs/InstagramTool/FileContentIndex/0774c9f9-1835-4b0d-a18a-16e3db5bbe31.vsidx
